<%= simple_form_for([@service_transaction, @service_transaction.service_todos.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <!--   <%= f.input :paid_at %>
    <%= f.input :completed_at %>
    <%= f.input :started_at %> -->
    <%= f.association :service, :label_method => :name, :value_method => :id %>
   <!-- <%= f.association :service_transaction, :label_method => :id, :value_method => :id, label: "Service Transaction ID" %>-->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
