<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Plate number</th>
      <th>Year</th>
      <th>User</th>
      <th>Car Model</th>
      <th>Car Manufacturer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.plate_number %></td>
        <td><%= car.year %></td>
        <td><%= car.user.try(:email) %></td>
        <td><%= car.car_model.try(:name) %></td>
        <td><%= car.car_model.car_manufacturer.try(:name) %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
