
<%= form_tag cars_path, :method => 'get' do %>
  <p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
  </p> 
<% end %>
<% if current_user.role.name == "admin" || current_user.role.name == "staff" %>
<%= link_to "Add New Car", new_car_path, class: "btn btn-default" %>
<% end %>
<h1>Cars </h1>

  <% @cars.each do |car| %>
    <div class="well">
       <%= link_to (image_tag car.picture.url(:medium)), car%>
        <div class="panel-body">
          <h2>
           <%= car.plate_number  %>
          </h2>
       </div>
    </div>
    <% end %>

  <%= will_paginate @cars, renderer: BootstrapPagination::Rails %>