<div class="well">
<p>

</p>
  <p>
    <strong>Plate number:</strong>
    <%= @car.plate_number %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= @car.year %>
  </p>

  <p>
    <strong>Owner's Email:</strong>
    <%= @car.user.try(:email) %>
  </p>
  <p>
    <strong>Owner's Name:</strong>
    <%= @car.user.try(:first_name) %> <%= @car.user.try(:last_name) %>
  </p>
  <p>
    <strong>Owner Contact Number:</strong>
    <%= @car.user.try(:contact_number_prefix) %>   <%= @car.user.try(:contact_number) %>
  </p>
          <p><strong>Car Model:</strong><%= @car.car_model.try(:name) %></p>
          <p><strong>Car Manufacturer:</strong><%= @car.car_model.car_manufacturer.try(:name) %></p>
          <p>
            <%= image_tag @car.picture.url(:medium) %>
          </p>
          
  <p>
    <strong>Service Transactions:</strong>
    <% @service_transactions.each do |service_transaction| %>
    <li class="transaction_links">
     <!--transaction id -->
    	<%= link_to service_transaction.created_at.strftime("%B %d, %I : %m %p ") , service_transaction  %>
    </li>
    <% end %>
  </p>
    <br>
  <%= link_to 'Edit', edit_car_path(@car), class: "btn btn-default" %> |
  <%= link_to 'Back', cars_path, class: "btn btn-default" %>
</div>