<div class="navbar-wrapper">
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Intermobile" , root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-right">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
     <% if user_signed_in? %>
       
        <li><%= link_to "My Cars", cars_path %></li>
    <%= render 'layouts/service_transaction' %>
         <li> <%= render 'notifications/notification_dropdown' %></li>
          <% if current_user.role.name == 'admin' %>
          <li><%= link_to "Admin", rails_admin_path %></li>
          <% end %>
        <% end %> 
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                         <% if user_signed_in? %>
                            <li> <%= link_to "Logged In As #{current_user.role.name} : "+current_user.email, "#" , class: "not-active" %></li>
                              <li> <%= link_to "Edit Account Info ", edit_user_registration_path %></li>
                            <li><%= link_to "Log out",  destroy_user_session_path, method: "delete" %></li>
                             <li><%= link_to "New: try our android app",  "https://www.dropbox.com/s/cogotkxuzgxp5nk/Intrmbl.apk?dl=0" %></li>


                          <% else %>
                          <li><%= link_to "Sign Up", new_user_registration_path %></li>
                            <li><%= link_to "Log In", new_user_session_path %></li>
                          
                          <li><%= link_to "New: try our android app",  "https://www.dropbox.com/s/cogotkxuzgxp5nk/Intrmbl.apk?dl=0" %>

                          <% end %>
                      </ul>

                  </li>
                  
          
        </ul>
     
 
  
    
        
               
  
 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>