<%= simple_form_for(@service_transaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   <%= f.association :staff_in_charge, collection: User.staff, :label_method => :email, :value_method => :id %>
    <%= f.association :technician_in_charge, collection: User.technician, :label_method => :email, :value_method => :id %>
   <%= f.association :car, :label_method => :plate_number, :value_method => :id %>
  </div>
  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
